# My First Notebook

In [9]:
ice_cream = ['Vanilla', 'Strawberry', 'Chocolate', ['Peri-peri', 'Spicy'], 10, True]

ice_cream

['Vanilla', 'Strawberry', 'Chocolate', ['Peri-peri', 'Spicy'], 10, True]

In [10]:
ice_cream.append(False)

ice_cream

['Vanilla', 'Strawberry', 'Chocolate', ['Peri-peri', 'Spicy'], 10, True, False]

In [11]:
ice_cream[1] = 'Fruit Mix'

ice_cream

['Vanilla', 'Fruit Mix', 'Chocolate', ['Peri-peri', 'Spicy'], 10, True, False]

In [15]:
# Nested list
ice_cream[3][0]

'Peri-peri'

In [17]:
# Tuple

scoops = (5,6,7,8,5,3,7,7,0)

scoops[3]

8

In [20]:
# Sets /No duplicates /cannot be indexed (unordered)/

pints = {2,3,5}

pints_week = {1,3,2,6,5,8,3,2,2,}

bro_pints_week = {3,4,5,5,1,7,9}

print(pints_week | bro_pints_week)

# show duplicate only

print(pints_week & bro_pints_week)

# Unique numbers in both sets

print(pints_week ^ bro_pints_week)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 5}
{2, 4, 6, 7, 8, 9}

In [30]:
# Dictionary
# Key/Value Pair

dict_emp = {'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow', 'Red']}

print(dict_emp)

# print keys only
dict_emp.keys()

# print values only
dict_emp.values()

# print key and values as items
dict_emp.items()

# call dict
dict_emp['name']

# update dict
dict_emp['name'] = 'Arthur 10111 Zwane'
print(dict_emp)

dict_emp.update({'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'assist': 87, 'cards': ['Yellow = 18', 'Red = 0']})
print(dict_emp)

# Delete a key/value from dict
del dict_emp['assist']
print(dict_emp)

{'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow', 'Red']}
{'name': 'Arthur 10111 Zwane', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow', 'Red']}
{'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow = 18', 'Red = 0'], 'assist': 87}
{'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow = 18', 'Red = 0']}

In [39]:
dict_emp = {'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'cards': ['Yellow', 'Red']}
for info, player in dict_emp.items():
    print(info, ':', player)

name : Skarra Ngobese
goals : 129
club : Kaizer Chiefs
cards : ['Yellow', 'Red']

In [42]:

clubs = ['Chiefs', 'Pirates', 'Sundowns']
players = ['Skarra', 'Manyathela', 'Leremi']
for club in clubs:
    for player in players:
        print(player, 'played for', club)

Skarra played for Chiefs
Manyathela played for Chiefs
Leremi played for Chiefs
Skarra played for Pirates
Manyathela played for Pirates
Leremi played for Pirates
Skarra played for Sundowns
Manyathela played for Sundowns
Leremi played for Sundowns

In [43]:
number = 0 

while number < 5:
    print(number)
    number += 1
else:
    print('> 5')

0
1
2
3
4
> 5

In [44]:
number = 0 

while number < 5:
    print(number)
    if number == 2:
        break
    number += 1
else:
    print('> 5')

0
1
2

In [45]:
number = 0 

while number < 5:
    number += 1
    if number == 2:
        continue
    print(number)
else:
    print('> 5')

1
3
4
5
> 5

# Coverting Data Types

In [6]:
num = 10
type(num)

int

In [7]:
name = 'Messi'
type(name)

str

In [13]:
num = 10
num_conv = str(num)
type(num_conv)

str

In [17]:
player = name + ' ' + num_conv
print(player)

Messi 10

In [23]:
# Converting a List to a Set
list = [8,9,3,6,1,4,5,6,4,8]

type(set(list))

set

In [ ]:
# Dict

dict_player = {'name': 'Skarra Ngobese', 'goals': 129, 'club': 'Kaizer Chiefs', 'assists':87, 'cards': ['Yellow', 'Red']}

#type(dict_player)
#dict_player.items()
#dict_player.values()
#dict_player.keys()

keys_list = list(dict_player.keys())
print(keys_list)